.summary-container {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .summary-heading {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 9rem;
    display: flex;
    justify-content: center;
  }
  
  .summary-content {
    margin-top: 20px;
  }
  
  .summary-card {
    height: 30vh; /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent content overflow */
    padding: 16px; /* Add padding for better spacing */
    text-align: center;
  }
  
  .summary-amount {
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }
  