html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-layout {
  min-height: 100%;
}

.ant-layout-header {
  display: flex;
  align-items: center;
  background: transparent;
}

.ant-menu-item {
  display: flex;
  align-items: center;
  color: black !important;
  border-bottom: none !important;
}

.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom: none !important;
  color: black !important;
}

.ant-anchor-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
